.navbar {
  background: #34004f;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  flex-wrap: wrap;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo-container:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.4rem #fff);
}
.header-logo {
  max-width: 5rem;
  padding-right: 10px;
  height: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
}
.header-title {
  text-align: center;
  color: #ecebf3;
  font-size: 2.5rem;
  margin: 1rem 0;
  font-weight: 800;
}
.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}
.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-elements {
  color: #ecebf3;
  display: flex;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.nav-elements:hover {
  filter: drop-shadow(0 0 0.5rem #fff);
}
.nav-elements a {
  color: #ecebf3;
  text-decoration: none;
}
@media screen and (max-width: 850px) {
  .navbar {
    padding: 0 1rem;
  }
  .nav-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav-elements {
    padding: 0.5rem;
  }
}
@media screen and (max-width: 750px) {
  .navbar {
    justify-content: center;
  }
}
@media screen and (max-width: 370px) {
  .header-title {
    font-size: 1.5rem;
  }
  .nav-section {
    padding: 0.5rem;
  }
  .navbar {
    padding: 0 0.3rem;
  }
  .nav-elements {
    font-size: 0.8rem;
  }
}
  