.grid4x4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}
.grid-elements {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  align-content: center;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  display: grid;
}
.selected {
  filter: brightness(140%);
  scale: 110%;
  transition: 0.3s ease-in-out;
}
.noSelected {
  opacity: 50%;
  transition: 0.3s ease-in-out;
}
.grid-elements:nth-child(1) {
  background: #ffd5c2;
}
.grid-elements:nth-child(2) {
  background: #f28f3b;
}
.grid-elements:nth-child(3) {
  background: #c8553d;
}
.grid-elements:nth-child(4) {
  background: #548687;
}
.grid-elements:nth-child(5) {
  background: #c5e99b;
}
.grid-elements:nth-child(6) {
  background: #ce7da5;
}
.grid-elements:nth-child(7) {
  background: #fffc99;
}
.grid-elements:nth-child(8) {
  background: #8fbc94;
}
.grid-elements:nth-child(9) {
  background: #c6d4ff;
}
.grid-elements:nth-child(10) {
  background: #498467;
}
.grid-elements:nth-child(11) {
  background: #ede5a6;
}
.grid-elements:nth-child(12) {
  background: #d64933;
}
.grid-elements:nth-child(13) {
  background: #5b85aa;
}
.grid-elements:nth-child(14) {
  background: #ceb992;
}
.grid-elements:nth-child(15) {
  background: #78c0e0;
}
.grid-elements:nth-child(16) {
  background: #ffcbdd;
}
@media screen and (max-width: 875px) {
  .grid-elements {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 670px) {
  .grid-elements {
    width: 80px;
    height: 80px;
  }
  .grid-container {
    gap: 0 !important;
  }
  .grid4x4 {
    grid-gap: 0.5rem;
  }
}
@media screen and (max-width: 380px) {
  .grid-elements {
    width: 55px;
    height: 55px;
  }
}
